{% extends 'auction/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
        <section class="page-section portfolio" id="portfolio" style="margin-top: 100px">
            <!-- Portfolio Section Heading-->
            <div class="container">
                <!-- Portfolio Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">경매 목록 </h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Items-->
                    {% for i in product %}
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-search-dollar fa-2x"></i></i></div>
                                </div><img class="img-fluid" src="{% static 'assets/img/portfolio/cabin.png' %}" alt="Log Cabin"/>
                                <div class="font-weight-bold">
                                    <span class="float-left blockquote">{{ i.name }}</span><br>
                                    <span class="float-right ">시작 가격:{{ i.min_price | intcomma }}￦</span>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>


<!--                    <div class="col-md-6 col-lg-4 mb-5">-->
<!--                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">-->
<!--                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">-->
<!--                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>-->
<!--                            </div><img class="img-fluid" src="{% static 'assets/img/portfolio/cake.png' %}" alt="Tasty Cake"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-lg-4 mb-5">-->
<!--                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">-->
<!--                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">-->
<!--                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>-->
<!--                            </div><img class="img-fluid" src="{% static 'assets/img/portfolio/circus.png' %}" alt="Circus Tent"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-lg-4 mb-5">-->
<!--                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">-->
<!--                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">-->
<!--                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>-->
<!--                            </div><img class="img-fluid" src="{% static 'assets/img/portfolio/game.png' %}" alt="Controller"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-lg-4 mb-5">-->
<!--                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">-->
<!--                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">-->
<!--                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>-->
<!--                            </div><img class="img-fluid" src="{% static 'assets/img/portfolio/safe.png' %}" alt="Locked Safe"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-lg-4 mb-5">-->
<!--                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">-->
<!--                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">-->
<!--                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>-->
<!--                            </div><img class="img-fluid" src="{% static 'assets/img/portfolio/submarine.png' %}" alt="Submarine"/>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
        </section>
        <!-- Portfolio Modal-->
<!--            <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">-->
<!--                <div class="modal-dialog modal-xl" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>-->
<!--                        <div class="modal-body text-center">-->
<!--                            <div class="container">-->
<!--                                <div class="row justify-content-center">-->
<!--                                    <div class="col-lg-8">-->
<!--                                        &lt;!&ndash; Portfolio Modal - Title&ndash;&gt;-->
<!--                                        <h2 class="portfolio-modal-title text-secondary mb-0">{{ i.name }}</h2>-->
<!--                                        &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--                                        <div class="divider-custom">-->
<!--                                            <div class="divider-custom-line"></div>-->
<!--                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--                                            <div class="divider-custom-line"></div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; Portfolio Modal - Image&ndash;&gt;<img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/cabin.png' %}" alt="Log Cabin"/>-->
<!--                                        &lt;!&ndash; Portfolio Modal - Text&ndash;&gt;-->
<!--                                        <p class="mb-5">상품설명</p>-->
<!--                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">-->
<!--            <div class="modal-dialog modal-xl" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>-->
<!--                    <div class="modal-body text-center">-->
<!--                        <div class="container">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-lg-8">-->
<!--                                    &lt;!&ndash; Portfolio Modal - Title&ndash;&gt;-->
<!--                                    <h2 class="portfolio-modal-title text-secondary mb-0">Tasty Cake</h2>-->
<!--                                    &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--                                    <div class="divider-custom">-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Image&ndash;&gt;<img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/cake.png' %}" alt="Tasty Cake"/>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Text&ndash;&gt;-->
<!--                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>-->
<!--                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal2Label" aria-hidden="true">-->
<!--            <div class="modal-dialog modal-xl" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>-->
<!--                    <div class="modal-body text-center">-->
<!--                        <div class="container">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-lg-8">-->
<!--                                    &lt;!&ndash; Portfolio Modal - Title&ndash;&gt;-->
<!--                                    <h2 class="portfolio-modal-title text-secondary mb-0">Circus Tent</h2>-->
<!--                                    &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--                                    <div class="divider-custom">-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Image&ndash;&gt;<img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/circus.png' %}" alt="Circus Tent"/>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Text&ndash;&gt;-->
<!--                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>-->
<!--                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal3Label" aria-hidden="true">-->
<!--            <div class="modal-dialog modal-xl" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>-->
<!--                    <div class="modal-body text-center">-->
<!--                        <div class="container">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-lg-8">-->
<!--                                    &lt;!&ndash; Portfolio Modal - Title&ndash;&gt;-->
<!--                                    <h2 class="portfolio-modal-title text-secondary mb-0">Controller</h2>-->
<!--                                    &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--                                    <div class="divider-custom">-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Image&ndash;&gt;<img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/game.png' %}" alt="Controller"/>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Text&ndash;&gt;-->
<!--                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>-->
<!--                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal4Label" aria-hidden="true">-->
<!--            <div class="modal-dialog modal-xl" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>-->
<!--                    <div class="modal-body text-center">-->
<!--                        <div class="container">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-lg-8">-->
<!--                                    &lt;!&ndash; Portfolio Modal - Title&ndash;&gt;-->
<!--                                    <h2 class="portfolio-modal-title text-secondary mb-0">Locked Safe</h2>-->
<!--                                    &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--                                    <div class="divider-custom">-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Image&ndash;&gt;<img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/safe.png' %}" alt="Locked Safe"/>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Text&ndash;&gt;-->
<!--                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>-->
<!--                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal5Label" aria-hidden="true">-->
<!--            <div class="modal-dialog modal-xl" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>-->
<!--                    <div class="modal-body text-center">-->
<!--                        <div class="container">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-lg-8">-->
<!--                                    &lt;!&ndash; Portfolio Modal - Title&ndash;&gt;-->
<!--                                    <h2 class="portfolio-modal-title text-secondary mb-0">Submarine</h2>-->
<!--                                    &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--                                    <div class="divider-custom">-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--                                        <div class="divider-custom-line"></div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Image&ndash;&gt;<img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/submarine.png' %}" alt="Submarine"/>-->
<!--                                    &lt;!&ndash; Portfolio Modal - Text&ndash;&gt;-->
<!--                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>-->
<!--                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <section class="page-section" id="contact">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; Contact Section Heading&ndash;&gt;-->
<!--                <div class="text-center">-->
<!--                    <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>-->
<!--                </div>-->
<!--                &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--                <div class="divider-custom">-->
<!--                    <div class="divider-custom-line"></div>-->
<!--                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--                    <div class="divider-custom-line"></div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Contact Section Content&ndash;&gt;-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-lg-4">-->
<!--                        <div class="d-flex flex-column align-items-center">-->
<!--                            <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>-->
<!--                            <div class="text-muted">Phone</div>-->
<!--                            <div class="lead font-weight-bold">(010) 1234-5678</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4">-->
<!--                        <div class="d-flex flex-column align-items-center">-->
<!--                            <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>-->
<!--                            <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:name@example.com">dlalsdyd094@naver.com</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
{% endblock %}